<!-- BEGIN FOOTER -->
<footer id="footer" class=" footer ">
    <div class="footer-bottom py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 text-center mx-auto">


                                <p class="font-sm-4">Ministry of Niger Delta Affairs</p>


                        <div class="copyright mt-1">
                            <ul class="copy-links">
                                <li>
                                    Copyright © 2018
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Terms</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">License</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Privacy policy</a>
                                </li>
                            </ul>
                        </div>

                </div>


            </div>
        </div>
    </div>
</footer>
<!--END FOOTER-->